{
  "extends": ["@nuxtjs/eslint-config-typescript"],
  "rules": {
    "vue/multi-word-component-names": [
      "error", {
        "ignores": ["header",
        "footer",
        "default",
        "about",
        "skills",
        "experiences",
        "projects",
        "contact",
        "index",
        "info"
      ]
      }
    ]
  }
}